/* Header */
.header-toolbar {
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #a52a2a;
    color: white;
    flex-wrap: wrap;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
    padding-left: 2%;
    white-space: nowrap;
  }
  
  .search-wrapper {
    flex: 1;
    display: flex;
    padding-left: 5%;
    max-width: 700px;
    min-width: 200px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #f1f3f4;
    border-radius: 8px;
    padding: 0 16px;
    height: 48px;
    width: 100%;
    box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px rgba(60, 64, 67, 0.15);
  
    mat-icon {
      color: #5f6368;
      margin-right: 12px;
      font-size: 24px;
    }
  
    input {
      border: none;
      outline: none;
      font-size: 16px;
      flex: 1;
      background: transparent;
      color: #202124;
    }
  }
  
  .header-buttons {
    display: flex;
    gap: 16px;
    margin-left: auto;
    align-items: center;
    padding-right: 4%;
  }
  
  .icon-button {
    color: white !important;
  }
  ::ng-deep .white-badge .mat-badge-content {
    background-color: white !important;
    color: black !important;
    border: 1px solid #ccc;
    font-weight: bold;
  }
  




.forgot-password-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .forgot-password-container h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  
  .forgot-password-container p {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
  }
  #emailtext{
    font-weight: bold;

  }
  .reset-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .reset-form label {
    text-align: left;
    font-size: 14px;
    color: #333;
    margin-bottom: 4px;
  }
  
  .reset-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .reset-btn {
    background-color: #b72d2d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
  }
  
  .reset-btn:hover {
    background-color: #a22222;
  }
  
  .create-account {
    margin-top: 20px;
   
  }
  
  .create-account a {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
  