

<div class="page-wrapper">
  <div class="main-content">
    <!-- HEADER -->
    <mat-toolbar color="primary" class="header-toolbar">
      <span class="logo" routerLink="/dashboard/home"><mat-icon>menu_book</mat-icon> Bookstore</span>
      <div class="search-wrapper">
        <div class="search-bar">
          <mat-icon>search</mat-icon>
          <input type="text" [(ngModel)]="searchQuery" (input)="searchBooks()" placeholder="Search" />
        </div>
      </div>
      <div class="header-buttons">
       

        <!-- <div class="profile-wrapper" (mouseenter)="showLogoutText = true" (mouseleave)="showLogoutText = false">
          <button mat-button class="icon-button" (click)="OnLogout()">
            <mat-icon class="person">person</mat-icon>
          </button>
          <div class="logout-text" *ngIf="showLogoutText">
            Logout
          </div>
        </div>
       -->
        <div class="profile-wrapper">
          <button mat-button [matMenuTriggerFor]="profileMenu" class="icon-button">
            <mat-icon class="person">person</mat-icon>
          </button>
        </div>
        
        <mat-menu #profileMenu="matMenu" yPosition="below" xPosition="after" class="profile-menu">
          <div class="menu-header">
            <h3>Welcome</h3>
            <p>To access account and manage orders</p>
            <button *ngIf="!isLoggedIn" mat-stroked-button color="warn" class="full-width" (click)="login()">LOGIN/SIGNUP</button>
          </div>
        
          <mat-divider></mat-divider>
        
          <button mat-menu-item (click)="goToOrders()">
            <mat-icon>shopping_bag</mat-icon>
            <span>My Orders</span>
          </button>
        
          <button mat-menu-item (click)="goToWishlist()">
            <mat-icon>favorite_border</mat-icon>
            <span>Wishlist</span>
          </button>
        
          <button  mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
        
      
        <!-- <button
  mat-button
  class="icon-button white-badge"
  [matBadge]="cartCount"
  [matBadgeHidden]="cartCount === 0"
  matBadgeOverlap="false" 
  routerLink="/dashboard/cart">
  <mat-icon>shopping_cart</mat-icon>
</button> -->

<!-- <div class="demo-section">
  Icon with a badge
  <mat-icon matBadge="15">home</mat-icon>
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
</div> -->

<button
  mat-icon-button
  class="icon-button white-badge"
  disableRipple
  [matBadge]="cartCount"
  [matBadgeHidden]="cartCount === 0"
  matBadgeColor="warn"
  matBadgeOverlap="false"
  routerLink="/dashboard/cart">
  <mat-icon>shopping_cart</mat-icon>
</button>

      </div>
    </mat-toolbar>



  <router-outlet></router-outlet>

  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer-content">
      <span>© 2025, Bookstore Private Limited. All Rights Reserved</span>
    </div>
  </footer>
</div>
