<div *ngIf="isLoading" class="spinner-container">
  <mat-spinner diameter="60"></mat-spinner>
</div>

<div class="order-page" *ngIf="!isLoading">
  <div class="breadcrumb">
    <a routerLink="/dashboard/home">Home</a> / 
    <span class="active">My orders</span>
  </div>
    <div class="order-header">
      <h2>My Orders</h2>
      <!-- <p>All your previous orders are listed here.</p> -->
    </div>

    <div class="order-list">
      <div class="order-card" *ngFor="let order of ordersArray">
        <div class="book-image">
          <img [src]="order.bookImage" alt="Book cover" />
        </div>
        <div class="book-details">
          <h3>{{ order.bookName }}</h3>
          <p class="author">by {{ order.author }}</p>
          <p class="quantity">{{ order.quantity }}</p>
          <p class="price">
            Rs. {{ order.totalPrice }}
            <!-- <span class="original-price">Rs.{{ order.originalPrice || order.price + 500 }}</span> -->
          </p>
        </div>
        <div class="order-date">
          <p class="placed-on">✔ Order Placed on {{ order.orderdate |date }}</p>
        </div>
      </div>
    </div>
  </div>
  
