
   
<div *ngIf="isLoading" class="spinner-container">
  <mat-spinner diameter="50"></mat-spinner>
</div>


<div class="order-page" *ngIf="!isLoading">
  <div class="breadcrumb">
    <a routerLink="/dashboard/home">Home</a> /
    <span class="active">My wishlist</span>
  </div>


  <div class="order-header">
    <h2>My Wishlist</h2>
  </div>

 
  <div *ngIf="wishlistArray.length === 0" class="no-items-message">
    No items in wishlist.
  </div>

  <div class="order-list" *ngIf="wishlistArray.length > 0">
    <div class="order-card" *ngFor="let item of pagedBooks; trackBy: trackByBookId">
      <div class="book-image">
        <img [src]="item.bookImage" alt="Book cover" />
      </div>
      <div class="book-details">
        <h3>{{ item.bookName }}</h3>
        <p class="author">by {{ item.author }}</p>
        <p class="quantity">quantity- <span class="qty">{{ item.quantity }}</span></p>
        <p class="price">Rs. {{ item.price }}</p>
      </div>

      <div class="tooltip-wrapper" (click)="removeFromWishlist(item.bookId)">
        <mat-icon class="delete-icon" aria-hidden="true">delete</mat-icon>
        <span class="tooltip-text">Delete</span>
      </div>
    </div>
  </div>
</div>


  <div class="paginator-wrapper">
    <div class="pagination-container">
      <button class="arrow-btn" [disabled]="currentPage === 0" (click)="goToPreviousPage()">&lt;</button>

      <button
        class="page-btn"
        *ngFor="let page of getPageNumbers(); let i = index"
        [class.active]="currentPage === i"
        (click)="goToPage(i)">
        {{ i + 1 }}
      </button>

      <button class="arrow-btn" [disabled]="currentPage >= maxPage - 1" (click)="goToNextPage()">&gt;</button>
    </div>
  </div>