
<div class="bookscontainer">
    <div class="books-header">
      
      <div class="books-title">
        Books<span class="books-count">({{ booksArray.length }})</span>
      </div>
      
      <mat-form-field appearance="outline" class="sort-dropdown">
        <mat-label>Sort by</mat-label>
        <mat-select [(value)]="sortOption" (selectionChange)="sortBooks()">
          <mat-option value="relevance">Relevance</mat-option>
          <mat-option value="priceLowHigh">Price: Low to High</mat-option>
          <mat-option value="priceHighLow">Price: High to Low</mat-option>
          <mat-option value="newest">Newest First</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

   
    <div class="book-grid">
      <div class="book-card" *ngFor="let book of pagedBooks" [routerLink]="['/dashboard/bookdetails', book.id]">
        <div class="book-image">
          <img [src]="book.bookImage" alt="Book Image" />
        </div>
        <div class="book-details">
          <h3 class="book-title">{{ book.bookName }}</h3>
          <p class="book-author">by {{ book.author }}</p>
          <div class="rating-box">
            <span class="rating-number">4.5</span>
            <span class="star-icon">&#9733;</span>
          </div>
          <p class="book-price">Rs {{ book.price }}</p>
        </div>
      </div>
    </div>
  </div>

  
  <div class="paginator-wrapper">
    <div class="pagination-container">
      <button class="arrow-btn" [disabled]="currentPage === 0" (click)="goToPreviousPage()">&lt;</button>

      <button
        class="page-btn"
        *ngFor="let page of getPageNumbers(); let i = index"
        [class.active]="currentPage === i"
        (click)="goToPage(i)">
        {{ i + 1 }}
      </button>

      <button class="arrow-btn" [disabled]="currentPage >= maxPage - 1" (click)="goToNextPage()">&gt;</button>
    </div>
  </div>
