<!-- HEADER -->
<mat-toolbar color="primary" class="header-toolbar">
    <span class="logo"><mat-icon>menu_book</mat-icon> Bookstore</span>
  </mat-toolbar>
  
  <div class="forgot-password-container">
    <h2>Reset Your Password</h2>
    <p>Enter your new password and confirm it below.</p>
  
    <form class="reset-form"  [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <label for="newPassword" id="emailtext">New Password</label>
      <input type="password" id="newPassword" placeholder="Enter new password" formControlName="newPassword" required />
  
      <label for="confirmPassword" id="emailtext">Confirm Password</label>
      <input type="password" id="confirmPassword" placeholder="Confirm your password" formControlName="confirmPassword"  required />
  
      <button type="submit" class="reset-btn" >Submit</button>
    </form>
  
    <div class="create-account">
      <a href="#" routerLink="/registerlogin">CREATE ACCOUNT</a>
    </div>
  </div>
  
  
